
#footerlogo {
    text-align: center;
}

#footerlogo #smallpclogo {
    margin-bottom: 10px;
}

#footerlogo #smallpclogo img {
    width: 52px;
    height: auto;
    margin: 10px;
}

.card-link{
color:grey
}

// #tpcfooterlegal {
//     text-align: center;
//     background-color: #f3f6f6;
//     padding: 20px 20px;
// }