<div class="container">
    <div id="footerlogo" class="footer">
        <div class="text-center">
            <img class="img-thumbnail" src="assets/images/small-pc-logo.png" width="100" height="100" alt="Home">
        </div>
        <div class="berkshire">A proud member of the Berkshire Hathaway Family of Companies.</div>
    </div>
</div>
<div class="card" style="text-align: center;">
    <div class="card-body">
        <a href="#" class="card-link">Privacy Policy</a>
        <a href="#" class="card-link">California Supply Chain</a>
        <a href="#" class="card-link">Terms of Use</a>
        <a href="#" class="card-link">About BPA</a>
        <a href="#" class="card-link">Cookie Preferences</a>
        <div class="copyright">© 2023 Pampered Chef used under license. All Rights Reserved.</div>
    </div>
</div>