<div class="row">
    <div class="container">
        <div class="pc-logo">
            <img src="assets/images/pc-logo.png" width="250" height="70" alt="PamperedChef">
        </div>
        <div class="card" style="float:right;">
            <div class="card-body shadow-none">
                <a href="#">Sign In</a> |
                <a href="#">Create Account</a> |
                <a href="#">My Orders</a> |
                <a href="#">Registry</a> |
                <a href="#">Wishlist</a>
            </div>
        </div>
    </div>
    <nav class="row">
        <div class="col-md-7">
            <div class="card text-center shadow-none">
                <div class="card-header">
                    <ul class="nav card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="#">SHOP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOST A PARTY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> BE A CONSULTANT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> RECEIPES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> OFFERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> LIVE EVENTS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control border-end-0 border" (keypress)="searchProduct($event)" type="text" placeholder="Enter Keyword or Product"
                    id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-start-0 border"
                        type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-outline-secondary border-start-0 border"
                        type="button">
                        <i class="fa fa-microphone"></i>
                    </button>
                    <button class="btn btn-outline-secondary border-start-0 border"
                        type="button">
                        <i class="fa fa-image"></i>
                    </button>
                </span>
            </div>
        </div>
    </nav>
</div>